<!DOCTYPE html>
<html>
<head>
    <title>Vaulter Clearnance Count</title>
</head>
<body>
    <pre>Vaulter API: endpoint reference
All responses are in JSON

REQUEST: /
RESPONSE:
    A greeting from this API to you.

REQUEST: /help
RESPONSE:
    This message

REQUEST: /firstname-lastname/height
RESPONSE:
    A list beginning with a statement describing how many times firstname-lastname cleared height, with the following entries being the times, dates, and heights the athelete cleared that height or higher.
    </pre>
</body>
</html>
